/* Explore.css */
.explore {
    text-align: center;
    background-color: #5f7d87;
    color: white;
    padding: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  button {
    background-color: #1e3a52;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #324d68;
  }